
.App {
  text-align: center;
  padding: 20px;
}


/* The box that the buttons are in */
.calculator {
  /* margin: auto; */
  display: flex;
  justify-content: center ;
  flex-flow: row wrap;
  height: 460px;
  width: 560px;
  padding: 10px;
  /* background: #c2e59c; */
  background-color: rgb(25, 29, 43); 
  border: 8px;
  border-style: outset;
  border-radius: 8px;
  border-color: rgb(0, 0, 0);

}

.popTart {
  display: flex;
  align-items: center;
}

.sumDisplay {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 5px;
  width: 420px;
  height: 100px;
  background-color: rgb(205, 245, 252);
  border-radius: 5px;
  /* border-style:solid ; */
  box-shadow: 0px 0px 20px 0px inset white;
  border-color: rgb(0, 0, 0);

}

/* Button styling only */
button {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin: 4px;
  background-color: rgb(55, 91, 121);
  border-radius: 8px;
  border: 3px;
  /* border-style: outset; */
  border-color: black;
  font-size: 30px;


}

button:hover {
  color: aliceblue;
  border: 3px;
  border-style: inset;
  border-color: white;
}